.project
.idea
/.settings
.pydevproject
*.wpu
*.log
/logs
/.codeintel
/condominio/settings/local.py
*~
.sass-cache
.*.swp
.DS_Store
*.py[co]
*#
*.mo
.ropeproject
.cache/*
cache/*
scripts/*.csv
.awskeys
*.sqlite
*.sqlite-journal
*.orig
csv_upload/*


#Test runner
htmlcov/
coverage.xml
xunit.xml

#Docs
docs/api/error_code_table.rst
_build/

#nodejs mudules
node_modules

#Grunt
.grunt

#Jasmine
_SpecRunner.html

#Sublime Text
*.sublime-*

#Virtualenv
.env
venv
.venv
.vagrant
/Vagrantfile.local
.pytest
.directory

vendor/
*.egg-info

pid/

#Translations
condominio/static/js/translations

#Tests  Folders
tests/AAT/features/support/capybara.rb
condominio/static/cache/
tests/AAT/Gemfile.lock
tests/AAT/error_screenshots
