{% extends "shared/_base.html" %}

{%block title %}Home{% endblock title %}


{% block content %}
<div class="row">
	<form method="post" action="{{ url_for('result') }}">
		{{ form.csrf_token }}

		<div class="col-md-4 col-md-offset-4">
			<label class="label-form">MARCA</label>
			{{ form.brand(class="form-control form-group", placeholder="Marca") }}		
		
			<label class="label-form">Modelo</label>
			{{ form.model(class="form-control form-group", placeholder="Modelo") }}		
		
			<label class="label-form">ANO DE</label>
			{{ form.inityear(class="form-control form-group", placeholder="Ano") }}		
			
			<label class="label-form">ANO ATE</label>
			{{ form.finalyear(class="form-control form-group", placeholder="Ano") }}		
		
			<button class="btn btn-primary btn-lg btn-block" role="button" type='submit'>Buscar</button>	
			
		</div>				
	</form>	
</div>

{% endblock content %}